.confirmOrder_content {
    background-color: rgb(238,238,238);
}

/*收货地址*/

/*单元格相同部分*/
.order_same_wrapper {
    display: flex;
    padding: 0 !important;
    height: 3.5rem;
    width: 100%;
    background-color: white;
    position: relative;
}
.order_same_wrapper span {
    height: 3.5rem;
    line-height: 3.5rem;
    margin-left: 1rem;
    font-size: 1.3rem;
    display: block;
    color: #666666;
}

.order_address_wrapper img{
    margin-top: 1rem;
    height: 1.5rem;
    margin-left: 1rem;
}
.order_address_wrapper img.arrow {
    position: absolute;
    right: 1.2rem;
}

/*购物清单*/
.order_list_wrapper {

}
.order_list_wrapper .orderList_title {
    margin-top: 1rem;
    height: 2.8rem;
    width: 100%;
    background-color: white;
    border-bottom: 0.1rem solid rgb(238,238,238);
    display: flex;
}
.order_list_wrapper .orderList_title img {
    margin-top: .65rem;
    height: 1.5rem;
    margin-left: 1rem;
}
.order_list_wrapper .orderList_title span {
    height: 2.8rem;
    line-height: 2.8rem;
    display: block;
    margin-left: 1rem;
    font-size: 1.3rem;
}
.order_list_wrapper>p {
    width: 100%;
    height: 4.3rem;
    line-height: 4.3rem;
    text-align: right;
    padding-right: 1rem;
    background-color: white;
    margin: 0;
}

/*买家留言*/
.order_input_wrapper{
    margin-top: 1rem;
    position: relative;
}
.order_input_wrapper textarea {
    width: 100%;
    height: 10rem;
    padding: 1rem;
    resize: none;
    overflow:hidden;
}
.order_input_wrapper .input_msg_nums {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    color: #666666;
}
/*配送方式*/
.order-sendMsg_wrapper {
    margin-top: 1rem;
}
.order-sendMsg_wrapper img{
    margin-top: 1rem;
    height: 1.5rem;
    margin-left: 1rem;
}

.order-sendMsg_wrapper span:last-child {
    position: absolute;
    right: 1rem;
}

.confirmOrder_content .order_price span:last-child {
    position: absolute;
    right: 1rem;
    color: #E80516;
}
.order_price_wrapper {
    margin-bottom: 0;
    border-bottom: .1rem solid rgb(238,238,238);
}
.order_roadPrice_wrapper {
    margin-top: 0;
}

/*支付方式*/
.order_buyMethod_wrapper {
    margin-top: 1rem;
}
.order_buyMethod_wrapper .wechat_wrapper {
    display: flex;
    width: 7.9rem;
    position: absolute;
    right: 1rem;
}
.wechat_wrapper img {
    height: 1.6rem;
    margin-top: .95rem;
}
.wechat_wrapper>span {
    margin-left: .6rem;
}

.confirmOrder_bottom {
    height: 5rem;
    padding: 0!important;
}
.confirmOrder_bottom>div {
    height: 5rem;
    position: relative;
    display: flex;
    width: 100%;
}
.confirmOrder_bottom>div>span {
    display: block;
    height: 5rem;
    line-height: 5rem;
}
.confirmOrder_bottom>div>span:first-child {
    margin-left: 1rem;
}

.confirmOrder_bottom .price {
    color: #E80516;
}
.confirmOrder_bottom .price_icon {
    font-size: 1rem;
}
.confirmOrder_bottom div>button {
    height: 5rem;
    position: absolute;
    right: 0;
    background-color: #E80516;
    color: white;
    font-size: 1.6rem;
    border: 0;
    width: 13.5rem;
    font-weight: bold;
}
.order_list_wrapper .order_item p{
    padding-right: 2rem;
}