.choiceAddModal{
    width: 20rem;
    height: 30rem;
    position: absolute;
    left: 0;right: 0;top: 0;bottom: 0;
    margin: auto;
    border: 1px solid lightgray;
    font-size: 2.1rem;
    background-color: white;
    /*overflow: hidden;*/
}
.choiceAddressModal{
    width: 20rem;
    height: 30rem;
    font-size: 1.6rem;
}
.choiceAddressModal span{
    line-height: 3rem;
}
.choiceAddressModal .ShoppingAddress label{
    font-size: 1.6rem;
}
.choiceAddressModal .ShoppingAddress .radio i{
    top: .5rem;
    width: 1.2rem;
    height: 1.2rem;
}
.choiceAddressModal .ShoppingAddress .radio input+i:after{
    width: .6rem;
    height: .6rem;
}
