/*适配小于750px的屏幕*/
.my_order{
    background: #EEE;
}
/*导航栏的样式*/
.my_order .nav_list{
    height: 3.5rem;
    font-size: 0;
    width: 100%;
    background: white;
}
.my_order .nav_list ul{
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 1.2rem;
    padding: .45rem 0;
    /*border-bottom:1px solid;*/
}
.my_order .nav_list ul li{
    position: relative;
    text-align: center;
    width: 25%;
    box-sizing: border-box;
    line-height: 2.6rem;
    height: 2.6rem;

}
.my_order .nav_list ul li~li{
    border-left:1px solid #BCBBBB;
}
.my_order .nav_list ul li.active{
    color:#D60101;
}
.my_order .nav_list ul li.active::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 0;
    width: 5.25rem;
    bottom: -.45rem;
    border-bottom:.2rem solid #D60101;
}
/*.order_list订单列表
.order_num 为订单编号所在的块
*/
.my_order .order_list{
    width: 100%;
    background: white;
}
.my_order .order_list .order_num{
    margin-top: .5rem;
    height: 3rem;
    line-height: 3rem;
    padding:0 1.1rem;
    font-size: 1.2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.my_order .order_list .order_num span{
    color: #666666;
}
.my_order .order_list .order_num span~span{
    color: #EA1E2D;
}
/*.order_item商品信息 包含：图片，描述，单价，和数量*/
.my_order .order_item{
    display: flex;
    /*justify-content: space-between;*/
    flex-flow: row nowrap;
    width: 100%;
    background: #EEE;
    height: 8.6rem;
    padding: 0 1.1rem;
}
.my_order .order_item+.order_item{
    margin-top: .5rem;
}

.my_order .order_item .order_text{
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.my_order .order_item img{
    width: 10rem;
    height: 7rem;
    margin: .7rem 1.05rem .9rem 0;
}
.my_order .order_item p{
    width: 16.75rem;
    line-height: 1.5rem;
    font-size: 1.2rem;
    margin: 1.2rem 0 0 0;
    color: #333;

}

.my_order .order_item .price{
    /*line-height: 100%;*/
    display: flex;
    /*justify-content: center;*/
    flex-flow: column;
    align-items: flex-end;
    color: #333;
    margin-top: 1.45rem;
}
/*.order_total订单总价和总的数量所在的块*/
.my_order .order_total{
    text-align: right;
    width: 100%;
    /*border-bottom: .1rem solid #BEBDBD;*/
}
.my_order .order_item .price span{
    font-size: 1.3rem;
    height: 1.3rem;

}
.my_order .order_item .price span~span{
    font-size: 1.2rem;
    height: 1.2rem;
    margin-top: .9rem;
    color: #666;
}

.my_order .order_item .span_origin{
    text-decoration: line-through;
}

.my_order .order_total{
    line-height: 3.45rem;
    height: 3.45rem;
}
.my_order .order_total>span{
    color: #333;
    font-size: 1.1rem;
    margin-right: 1.1rem;
}
.my_order .order_total>span span{
    font-size: 1.3rem;
}
/*。order_footer按钮所在的块*/
.my_order .order_footer{
    text-align: right;
    width: 100%;
    font-size: 0;
    height: 4.3rem;
    padding-right: 1.15rem;
}
.my_order .order_footer .btn{
    outline: none;
    border: .1rem solid #999;
    background: transparent;
    color: #666;
    font-size: 1.2rem;
    margin: 1rem 0 1rem 1.15rem;
    border-radius: .2rem;
    width: 7.8rem;
    height: 2.3rem;
    padding: 0;
}
.my_order .order_footer .btn.lone{
    border-color: #EA1E2D;
    color: #EA1E2D;
}
/*。myOrder的元素为ionic弹*/
.myOrder.popup-container .popup{
    background: white;
    width: 27.65rem;
    height: 17.6rem;
    border-radius: .5rem;
}

.myOrder.popup-container .popup-buttons{
    width: 100%;
    min-height:0;
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: .1rem solid #ACABAB;
    padding: .3rem 0;
    height: 3.6rem;
}

.myOrder.popup-container .popup-buttons .button{
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    min-height: 0;
    border-radius: 0;
    background: transparent;
    height: 3rem;
    font-size: 1.5rem;
}
.myOrder .popup-buttons .button:last-child{
    border-left: .1rem solid #ACABAB;
    color: #E80516;
}
.myOrder .button.activated{
    outline: none;
}
.myOrder .button:after{
    display: none;
}

.myOrder .popup-head{
    display: none;
}
.myOrder .popup-body{
    height: 14rem;
    position: relative;
    padding: 0;
    width: 100%;
    text-align: center;

}
.myOrder .popup-body span{
    display: inline-block;
    color: #333;
    font-size: 1.5rem;
    margin-top: 7rem;
}

.myOrder.popup-container.refund .popup-buttons{
    border: none;
}
.myOrder.refund .popup-body p{
    font-size: 1.5rem;
    line-height: 4.5rem;
}
.myOrder.refund .popup-body textarea{
    width: 100%;
    height: 9.5rem;
    font-size: 1.2rem;
    padding: .8rem 1.35rem;
    position: absolute;
    bottom: 0;
    background: #EEE;
}
.myOrder.refund .popup-body textarea::-webkit-input-placeholder{
    font-size: 1.2rem;
    color: #666;
}

.myOrder.refund .popup-body div{
    font-size: 1.2rem;
    color: #666;
    position: absolute;
    bottom: .5rem;
    right: 1.4rem;
}
.order_emptyMsg {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    color: gray;
}