/*失效字体*/
.shoppingList .loseShopping>div{
    width: 1.24rem;
    line-height: 1.35rem;
}
/*商品图片*/
.shoppingList .listContent{
    margin-left: .8rem;
}
.shoppingList .listContent span{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}


