<ion-view>
    <!--hide-tabs-->
    <ion-content class="detail-view" overflow-scroll="false" on-scroll="goodsObj.scollOption()">
        <mg-slide-box source-data="goodsObj.slideData"></mg-slide-box>
        <!--商品相关信息展示-->
        <div class="goods-detail-wrapper">
            <div class="goods-title row">
                <p class="detai-title">{{goodsObj.goodsData.Describes}}</p>
                <div class="verLine"></div>
                <div class="collect-wrapper" ng-class="{true: 'collect', false: 'inCollect'}[goodsObj.isCollect]" ng-click="goodsObj.collectOption(goodsObj.goodsData.goods_id)">
                    <!--收藏按钮-->
                    <div class="collect-icon"></div>
                    <p class="collect-text">{{goodsObj.collectName}}</p>
                </div>
            </div>
            <p class="goods-price">
                <span class="stamp">￥</span>
                <span>{{goodsObj.goodsData.UnitPrice}}</span>
                <span class="prePrice">原价 : {{goodsObj.goodsData.MarketPrice}}</span>
            </p>
            <div class="row relatedMsg">
                <div class="col col-34">
                    <p class="goods-freight">运费 : {{goodsObj.goodsData.TransPrice}} 元</p>
                </div>
                <div class="col col-34">
                    <p class="goods-saleVolumes">销量 :{{goodsObj.goodsData.SaleNum}}件</p>
                </div>
                <div class="col col-33">
                    <p class="shop-place">宁夏</p>
                </div>
            </div>
        </div>
        <!--商品数量-->
        <div class="goods-valumes row" ng-click="goodsObj.changeGoodsNums()">
            <p><span>数量 : </span>{{collect.val}}</p>
            <div class="change-arrow"></div>
        </div>
        <!--三个按钮选项-->
        <div class="goods-selects-wrapper">

            <div class="row selectionsBar">
                <div class="col">
                    <p class="goods-info" ng-class="{true: 'infoActive', false: 'inInfoActive'}[goodsObj.isInfoActive]" ng-click="goodsObj.selectInfo()">商品详情</p>
                </div>
                <div class="col">
                    <p class="goods-params" ng-class="{true: 'paramActive', false: 'inParamActive'}[goodsObj.isParamActive]" ng-click="goodsObj.selectParam()">商品参数</p>
                </div>
                <div class="col">
                    <p class="goods-assess" ng-class="{true: 'assessActive', false: 'inAssessActive'}[goodsObj.isAssessActive]" ng-click="goodsObj.selectAssess()"><span>评价</span> ( 81 )</p>
                </div>
            </div>

            <!--下划线-->
            <div class="slider-line" id="slideLine"></div>
            <!--选项对应的内容-->
            <div class="selection-content" ng-switch on="goodsObj.selection">
                <!--商品详情-->
                <div ng-switch-when="goodsInfo">
                    <img ng-src="{{PicROOT_URL+iconUrl}}" alt="ingo-image" style="width: 100%;padding-top: 12px;padding-bottom: 8px" ng-repeat="iconUrl in goodsObj.goodsData.goods_details">
                </div>
                <!--商品参数-->
                <div ng-switch-when="goodsParam">
                    <img ng-src="{{PicROOT_URL+goodsObj.goodsData.goods_spec[0]}}" style="width: 100%;padding-top: 12px;padding-bottom: 8px" alt="param-image">
                </div>
                <!--商品评价列表-->
                <div ng-switch-when="goodsAssess">
                    <div class="assess-item">
                        <div class="assess-head row">
                            <div class="user-icon" style="background: url('images/meinvTestIcon.png') no-repeat center"></div>
                            <p>超神Codehehehehhefdasdfdfdf</p>
                            <div class="assess-stars">
                                <div class="star assess-redStar" ng-repeat="red in rednums track by $index"></div>
                                <div class="star assess-grayStar" ng-repeat="gray in graynums track by $index"></div>
                            </div>
                        </div>
                        <div class="text-content">
                            <p class="assess-text" >世界你好，今日阳光明媚</p>
                            <p class="assess-time" >2016-12-07</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <!--底部 按钮（tab）菜单-->
    <div class="detail-bottom-bar">
        <div class="row common_bottom_wrapper">
            <div class="col col-20">
                <a class="tab-item" href="#">
                    <i class="icon cft-home"></i>
                    首页
                </a>
            </div>
            <div class="col col-20">
                <a class="tab-item" ng-click="goodsObj.goShoppingCar()">
                    <i class="icon cft-shopcar"></i>
                    购物车
                </a>
                <span class="badge badge-assertive" style="position: absolute;top: 0;margin-left: .5rem;font-size: 1rem">{{user_Car_Num}}</span>
            </div>
            <div class="col col-60">
                <div class="row" ng-if="goodsObj.goodsData.StockNum > 0">
                    <div class="col takeShorpping" ng-click="goodsObj.putinShoppingCar()">
                        <p>加入购物车</p>
                    </div>
                    <div class="col nowBuy" ng-click="goodsObj.buyNow()">
                        <p>立即购买</p>
                    </div>
                </div>
                <div class="row" ng-if="goodsObj.goodsData.StockNum <= 0">
                    <div class="col takeShorpping" style="background-color: #666">
                        <p>已售罄</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</ion-view>