<!--积分商城   ==> 现在是分类页面  -->

<ion-view>

    <ion-header-bar class="item-input-inset">
        <!--logo-->
        <img ng-src="images/logo.png" alt="home-logo" style="height: 25px">
        <!--search bar directive by jc-->
        <div class="ctf-search-view">
            <label class="item item-input">
                <input class="cft-textField" ng-model="searchValue" type="text" placeholder="例：大闸蟹">
            </label>
            <button class="ctf-search-btn" style="height: 1.6rem" ng-click="integralObj.goSearch(searchValue)"></button>
        </div>
        <!--<div class="tabs-icon-top padding-left top-right-menu">-->
            <!--<a class="tab-item" ng-click="integralObj.toggleRight()" >-->
                <!--<i class="home-right-menu"></i>-->
            <!--</a>-->
        <!--</div>-->
    </ion-header-bar>

    <ion-content style="padding-top: .5rem">
        <div style="display: flex">
            <div class="classes_list" style="width: 30%;border-right: 1px solid #eee;">
                <ul id="homeFirstClasses">
                    <li menu-close ng-click="integralObj.selectAll($event)">全部商品</li>
                    <li menu-close ng-click="integralObj.selectAll($event)">礼盒系列</li>
                    <li menu-close ng-click="integralObj.selectAll($event)">分割系列</li>
                    <li menu-close ng-click="integralObj.selectAll($event)">调料系列</li>
                    <li menu-close ng-click="integralObj.selectAll($event)">整羊系列</li>
                    <!--<li ng-repeat="key in integralObj.sortedClassKeys" ng-click="integralObj.selectHomeFirstClass($event,key)">{{integralObj.sortedSecondClassObj[key].name}}</li>-->
                </ul>
            </div>
            <div class="class_list_wrapper" style="width: 70%;background-color: #eee;">
                <div class="row row-wrap class_list" ng-repeat="item in integralObj.goodsDatas track by $index" ng-click="integralObj.goDetail(item)">
                    <div class="col col-40 goods_cell">
                        <div class="cell_wrapper">
                            <div class="goods_cell_icon" style="background-image: url( {{integralObj.PicROOT_URL+item.id+'/mainPic/'+item.Pic}} "></div>
                        </div>
                    </div>
                    <div class="col col-60 goods_cell">
                        <div class="goods_cell_bottom">
                            <div class="bottom_des">
                                <p class="des_title" ng-bind="item.Name"></p>
                                <p class="home_goods_price">
                                    <span class="stamp">￥{{item.UnitPrice}}</span>
                                    <span class="stamp">销量：{{item.SaleNum}}</span>
                                </p>
                            </div>
                            <!--购买-->
                            <button ng-if="item.StockNum > 0" class="shopping_btn_has" ng-click="homeObj.takeShorpping($event,item)"></button>
                            <button ng-if="item.StockNum == 0" class="shopping_btn_none" ng-click="homeObj.sellOut($event)" ></button>
                        </div>
                    </div>
                </div>
                <ion-infinite-scroll ng-if="!integralObj.noneOfMoreData" on-infinite="integralObj.loadMore()" distance="1%" ></ion-infinite-scroll>
                <p class="nomore_text" ng-if="integralObj.noneOfMoreData">没有更多商品...</p>
            </div>
        </div>
    </ion-content>
</ion-view>

