<ion-view class="my_order">
    <ion-header-bar>
        <div class="nav_list">
            <ul ng-click="myOrder.navData($event)">
                <li class="active">全&nbsp;部</li>
                <li>待付款</li>
                <li>待发货</li>
                <li>待收货</li>
                <li>已完成</li>
            </ul>
        </div>
    </ion-header-bar>
    <ion-content overflow-scroll="false" delegate-handle="orderScroll">
        <ion-refresher
                pulling-text="下拉刷新..."
                on-refresh="myOrder.doRefresh()">
        </ion-refresher>
        <!--<p class="order_emptyMsg" ng-if="!myOrder.orderDatas.length">{{myOrder.emptyMsg}}</p>-->
        <div class="order_list" ng-click="myOrder.goOrderDetail(order)" ng-repeat="order in myOrder.orderDatas">
            <div class="order_num">
                <span>订单编号&nbsp;{{order.OrderNum}}</span>
                <span>{{ myOrder.stateInfos[order.OrderStatus] }}</span>
            </div>
            <div class="order_item" ng-repeat="order_item in order.ProductArr">
                <img ng-src="{{myOrder.PicROOT_URL +order_item.ProductId+'/mainPic/'+order_item.Pic}}">
                <div class="order_text">
                    <p>{{order_item.ProductName}}</p>
                    <div class="price">
                        <span>¥{{order_item.ProductUnitPrice}}</span>
                        <!--<span class="span_origin">¥{{order_item.market_price}}</span>-->
                        <span>×{{order_item.ProductNum}}</span>
                    </div>
                </div>
            </div>
            <div class="order_total">
                共 {{order.TotalNum}} 件商品  合计：<span>¥{{order.PayPrice}}</span>  (含运费：{{order.Freight}})
            </div>
            <div class="order_footer" ng-if="order.OrderStatus===0">
                <button class="btn" ng-click="myOrder.cancelBill($event,$index)">取消订单</button>
                <button class="btn lone" ng-click="myOrder.payment(order,$event)">付款</button>
            </div>
            <div class="order_footer" ng-if="order.OrderStatus===1">
                <button class="btn lone" ng-click="myOrder.refund($event,$index)">申请退款</button>
            </div>
            <div class="order_footer" ng-if="order.OrderStatus==2">
                <button class="btn" ng-click="myOrder.refund($event,$index)">申请退款</button>
                <button class="btn lone" ng-click="myOrder.confirm($event,$index)">确认收货</button>
            </div>
            <!--<div class="order_footer" ng-if="order.state=='3'&& !items.isAppraise">-->
                <!--<button class="btn lone" ng-click="myOrder.appraise(order,$event)">评价</button>-->
            <!--</div>-->
        </div>
        <ion-infinite-scroll ng-if="!myOrder.moredata" on-infinite="myOrder.loadMore()" distance="1%" ></ion-infinite-scroll>
        <p class="nomore_text" ng-if="myOrder.moredata">没有更多订单...</p>
    </ion-content>
</ion-view>