<ion-view view-title="{{sortedGoodsObj.viewTitle}}">

    <ion-header-bar class="search_header_bar cft_search_bar">
        <div class="search_bar">
            <div class="ctf-search-view search_textFiled">
                <label class="item item-input">
                    <input class="cft-textField" ng-model="sortedGoodsObj.searchStr" type="text" placeholder="例：大闸蟹">
                </label>
                <button class="ctf-search-btn" style="height: 1.6rem" ng-click="sortedGoodsObj.goSearch(searchStr)"></button>
            </div>
        </div>

    </ion-header-bar>
    <ion-header-bar class="bar-subheader cft_search_bar">
        <div class="sort_menus">
            <ul ng-click="sortedGoodsObj.sortAction($event)">
                <li class="active">综合</li>
                <li>销量<img ng-src="images/xiaoArrow.png" alt="0" ></li>
                <li>价格<img ng-class="{true: 'priceHeigh', false: 'inPriceHeigh'}[sortedGoodsObj.isPriceHeigh]" ng-src="{{sortedGoodsObj.arrowImg}}" alt="0" ></li>
                <li ng-click="sortedGoodsObj.toggleSorted()">筛选<img ng-src="images/xiaoArrow.png" alt="0" ></li>
            </ul>
        </div>
    </ion-header-bar>
    <ion-content class="sortedGoods_content">
        <!--<p class="data_is_null" ng-if="sortedGoodsObj.dataIsNull">没有此类商品哦...</p>-->
        <ion-refresher
                pulling-text="下拉刷新..."
                on-refresh="sortedGoodsObj.doRefresh()">
        </ion-refresher>

        <div class="goods_list_wrapper">
            <div class="row row-wrap">

                <div class="col col-50 goods_cell" ng-repeat="item in sortedGoodsObj.goodsDatas track by $index" ng-click="sortedGoodsObj.goDetail(item)">
                    <div class="cell_wrapper">
                        <div class="goods_cell_icon" style="background: url( {{homeObj.PicROOT_URL+item.id+'/mainPic/'+item.Pic}} ">
                        </div>
                        <div class="goods_cell_bottom">
                            <div class="bottom_des">
                                <p class="des_title" ng-bind="item.Name"></p>
                                <p class="home_goods_price">
                                    <span class="stamp">￥</span>{{item.UnitPrice}}
                                    <span class="">
                                        <!--des_prePrice-->
                                        <span class="stamp">销量：</span>{{item.SaleNum}}
                                    </span>
                                </p>
                            </div>
                            <!--购买-->
                            <button ng-if="item.StockNum > 0" class="shopping_btn_has" ng-click="homeObj.takeShorpping($event,item)"></button>
                            <button ng-if="item.StockNum == 0" class="shopping_btn_none" ng-click="homeObj.sellOut($event)" ></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <ion-infinite-scroll ng-if="!sortedGoodsObj.moredata" on-infinite="sortedGoodsObj.loadMore()" distance="1%" ></ion-infinite-scroll>
        <p class="nomore_text" ng-if="sortedGoodsObj.noneOfMoreData">没有更多商品...</p>
    </ion-content>
</ion-view>