<!--设置side-menus-->

<ion-side-menus delegate-handle="mainSideMenus">

    <!--禁止拖动打开-->
    <ion-side-menu-content drag-content="false">

        <!--<div id="self_kf_btn" ng-click="open_KF_scanQRCode()" style="display: none;position:absolute;right: 2rem;bottom: 88px;z-index: 9999;width: 6rem;height: 6rem;background-color: red;border-radius: 50%;background: url('images/service1.png') no-repeat center/100%"></div>-->

        <!--设置tabs承载页面-->
        <ion-tabs class="tabs-icon-top cft-tabs" ng-class="{'tabs-item-hide': $root.hideTabs}">

            <ion-tab title="首页" href="#/tabs/homePage" icon="bar-home-on" icon-on="bar-home-on" icon-off="bar-home-off" class="tabs-icon-top" on-select="selectHome()">

                <ion-nav-view name="tabs-homePage" ></ion-nav-view>

            </ion-tab>
            <!--<ion-tab title="分类" ng-click="clickHome()" icon-on="ion-integStore-on" icon-off="ion-integStore-off" >-->

                <!--<ion-nav-view name="tabs-integralStore" animation="slide-left-right"></ion-nav-view>-->

            <!--</ion-tab>-->
            <ion-tab title="购物车" ng-click="clickShoppingCart()" icon-on="ion-napaStore-on" icon-off="ion-napaStore-off">

                <ion-nav-view name="tabs-shoppingCart"></ion-nav-view>

            </ion-tab>
            <ion-tab title="我的" ng-click="clickPersonal()" icon-on="ion-person-on" icon-off="ion-person-off">

                <ion-nav-view name="tabs-personal"></ion-nav-view>

            </ion-tab>

        </ion-tabs>

    </ion-side-menu-content>

    <!--侧边栏菜单-->
    <ion-side-menu class="side_menu_wrapper" side="right" width="236">
        <!-- ng-controller="sideMenuController"-->
        <ion-view>

            <div class="filter_bottom_wrapper" ng-if="sideMenuObj.is_allGoods">
                <button menu-close class="cancel_btn" ng-click="sideMenuObj.cancelOption()">取 消</button>
                <button menu-close class="sure_btn" ng-click="sideMenuObj.sureOption()">确 定</button>
            </div>
        </ion-view>
    </ion-side-menu>
</ion-side-menus>