
.orderDetail-content {
    padding: 0;
    color: #333333;
    font-size: 1.2rem;
    background-color: rgb(238,238,238);
}
.order-num-wrapper{
    position: relative;
    height: 35px;
    background-color: white;
    padding: 0 11px;

}
.order-num-wrapper p {
    line-height: 35px;
}
.order-num-wrapper .order-status {
    position: absolute;
    right: 10px;
    color: #EA1E2D;
}

/*个人信息*/
.personal-info-wrapper {
    background-color: white;
    margin-top: 10px;
    padding-bottom: 0.6rem;
    padding-top: 0.6rem;
    display: flex;
}
.personal-info-wrapper  .icon-address {
    height: inherit;
    width: 1rem;
    margin-left: 1rem;

}
.personal-info-wrapper .user_info_wrapper {
    padding-top: .5rem;
    padding-left: .8rem;
    padding-right: 1rem;
}
.personal-info-wrapper .user_info_wrapper div>span:first-child{

}
.personal-info-wrapper .user_info_wrapper p {
    line-height: 1.4rem;

    margin-top: 1rem;
    color: #333333;
}
.personal-info-wrapper .user_info_wrapper .personal-name {
    margin-left: 1rem;
}
.personal-info-wrapper .user_info_wrapper .personal-tel {
    margin-left: 3.2rem;
}
.personal-info-wrapper .personal-address {
    margin-left: 30px;
    margin-top: 10px;
    color: #333333;
}
/*买家留言*/
.consumerMsg {
    background-color: white;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1rem 1rem;
}
.consumerMsg p:last-child {
    margin-top: 1rem;
    line-height: 1.7rem;
}

/*商品金额信息*/
.order_price_wrapper {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: white;

    padding-top: 1rem;
}
.order_price_wrapper p{
    width: 100%;
    position: relative;
    padding-left: 1rem;

}
.order_price_wrapper p>span:last-child{
    position: absolute;
    right: 1rem;
}
.order_price_wrapper>p:first-child {
    padding-bottom: 2rem;
}
.order_price_wrapper>p.goods_price {
    padding-bottom: 1.2rem;
    border-bottom: 0.09rem solid #dcdcdc;
}
.order_price_wrapper>p:last-child {
    padding-top: 1.1rem;
    padding-bottom: 1.3rem;
}
.order_price_wrapper p>span:last-child{
    color: #EA1E2D;
}
.order_logistics {
    background-color: white;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 20px;
}
.order_logistics p {
    font-size: 1.2rem;
    padding: 0;
    margin-bottom: 0.3rem;
    color: #999999;
}
.order_logistics p:first-child {
    color: #333;
}