.sortedGoods_content {
    background-color: rgb(238,238,238);
}
.cft_search_bar {
    padding: 0;
}
.search_bar {
    height: auto;
    background-color: rgb(243,247,246);
    width: 100%;
    padding-top: .9rem;
    vertical-align: middle;
    border-bottom: .08rem solid #dcdcdc;
}
.search_bar .search_textFiled {
    margin: 0 auto;
}
.sort_menus {
    width: 100%;
    height: 3.6rem;
    background-color: white;
}
.sort_menus ul{
    width: 100%;
    display: flex;
}
.sort_menus ul>li {
    width: 25%!important;
    height: 2.7rem;
    line-height: 2.7rem;
    text-align: center;
    position: relative;
    margin-top: .9rem;
    font-size: 1.4rem;

}
.sort_menus ul>li~li {
    border-left: 0.1rem solid #dcdcdc;
}
.sort_menus ul>li.active {
    color: #D60101;
}
.sort_menus ul>li.active:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 0;
    width: 80%;
    bottom: -.7rem;
    border-bottom:.2rem solid #D60101;
}
.sort_menus img {
    position: absolute;
    width: .8rem;
    height: .6rem;
    top:1.05rem;
    right: 1rem;
}
.data_is_null {
    text-align: center;
    color: gray;
    font-size: 1.5rem;
    margin-top: 1rem;
}

