
.mainColor{
    background-color: rgb(238,238,238);
}

/*管理收货地址页面*/
/*收货地址列表*/
.deliveryAdd_add1{
    position: relative;
    background-color: #FFFFFF;
    height: 9.7rem;
    margin-bottom: 1rem
}
.deliveryAdd_add1 .deliveryAdd_name{
    width: 100%;
    margin:0;
    padding-top: 1.15rem;
    font-family: MicrosoftYaHei;
    font-size: 1.5rem
}
.deliveryAdd_add1 .deliveryAdd_name .name{
    position: absolute;
    left: 2.3rem;
    color: #333333
}
.deliveryAdd_add1 .deliveryAdd_name .tel{
    position: absolute;
    right: 2.6rem;
    color:#666666
}
.deliveryAdd_add1 .deliveryAdd_address{
    margin: 2.4rem 2.1rem .6rem 2.1rem;
    padding-bottom: .6rem;
    border-bottom: solid .1rem #C0BFBF;
    font-size: 1.2rem;
    color:#666666
}
.deliveryAdd_add1 .deliveryAdd_options{
    margin: .4rem 2.2rem;
    height: 1.9rem
}
.deliveryAdd_add1 .deliveryAdd_options .react{
    width: 1.6rem;
    height: 1.6rem
}
.deliveryAdd_add1 .deliveryAdd_options .default{
    font-size: 1.2rem;
    margin-left: 1rem;
}
.deliveryAdd_add1 .deliveryAdd_options .deliveryAdd_pop{
    float: right
}
.deliveryAdd_add1 .deliveryAdd_options .deliveryAdd_pop .editImg{
    width: 1.6rem;
    height: 1.6rem
}
.deliveryAdd_add1 .deliveryAdd_options .deliveryAdd_pop .editText{
    font-size: 1.2rem;
    color:#666666;
    margin-right: 1.2rem
}
.deliveryAdd_add1 .deliveryAdd_options .deliveryAdd_pop .deleteImg{
    width: 1.1rem;
    height: 1.7rem
}
.deliveryAdd_add1 .deliveryAdd_options .deliveryAdd_pop .deleteText{
    font-size: 1.2rem;
    color:#666666
}

/*footer新增地址*/
.deliveryAdd_footer{
    background-color: #E80516;
}
.deliveryAdd_footer .title{
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 1rem
}

/*我的积分页面*/
.totalScore_total{
    position: relative;
    background-color: #FFFFFF;
    height: 6rem;
    margin-bottom: .8rem;
    display: flex
}
.totalScore_total .score{
    position: absolute;
    left: 1.3rem;
    font-family: MicrosoftYaHei;
    font-size: 1.7rem;
    color: #EB1E2D;
    line-height: 6rem
}
.totalScore_total .exchange{
    position: absolute;
    right: 1.3rem;
    width: 5rem;
    height: 2.3rem;
    border: solid .1rem #ED3743;
    border-radius: .2rem;
    font-family: MicrosoftYaHei;
    font-size: 1.3rem;
    color: #ED3743;
    margin-top: 2rem;
    text-align: center
}
.totalScore-detail{
    position: relative;
    background-color: #FFFFFF;
    /*height: 25.4rem;*/
    margin-bottom: .8rem
}
.totalScore-detail .list .item .inDetail{
    font-family: MicrosoftYaHei;
    font-size: 1.2rem;
    color: #666666
}
.totalScore-detail .list .item .give{
    position: relative;
    margin: 0
}
.totalScore-detail .list .item .give .text{
    font-family: MicrosoftYaHei;
    font-size: 1.2rem;
    color: #666666
}
.totalScore-detail .list .item .give .num{
    position: absolute;
    right: 1rem;
    font-family: MicrosoftYaHei;
    font-size: 1.3rem;
    color: #EB1E2D
}
.totalScore-detail .list .item .date{
    font-family: MicrosoftYaHei;
    font-size: .9rem;
    color: #999999
}

/*交易记录*/
.payRecord{
    position: relative;
    background-color: #FFFFFF;
    height: 25.4rem;
    margin-bottom: .8rem
}
.payRecord .list .item{
    padding-left: 1.5rem
}
.payRecord .list .item .payRecord_total{
    position: relative;
    margin: 0
}
.payRecord .list .item .payRecord_total .text{
    font-family: MicrosoftYaHei;
    font-size: 1.2rem;
    color: #666666
}
.payRecord .list .item .payRecord_total .num{
    position: absolute;
    right: 1rem;
    font-family: MicrosoftYaHei;
    font-size: 1.3rem;
    color: #666666
}
.payRecord .list .item .payRecord_total .data{
    font-family: Tahoma;
    font-size: .9rem;
    color: #999999
}
.payRecord .list .item .payRecord_total .case{
    position: absolute;
    right: 1rem;
    font-family: Tahoma;
    font-size: 1rem;
    color: #666666
}


.button.button-dark.button-clear{
    border-right: solid .1rem #ACABAB;
    color:#666666;

}
.button.button-assertive.button-clear{
    color:#E80516;
}
/*列表样式*/
.self_item{
    padding: .3rem 1.3rem;
    border: solid .05rem #BDBDBD;
}
.noneOFAdrress {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    color: gray;
}