
/*是否全选*/
.ifSelectAll{
    height: 3.45rem;
    width: 3.45rem;
}
.ifSelectAll .selectBtn span{
    width: 1.25rem;
    height: 1.25rem;
}
.ifSelectAll .selectBtn span i{
    top: 2px;
    left: 2px;
    width: .65rem;
    height: .65rem;
}
.ifSelectAll span{
    left: 4.25rem;
    top: .7rem;
    width: 8rem;
    font-size: 1.5rem;
}
/*购物车列表*/
.shoppingList{
    margin-bottom: .8rem;
    height: 9.5rem;
    padding: 1.2rem 0;
}
/*复选框和失效标识*/
.listCheck,.loseShopping{
    width: 3.45rem;
}
.shoppingList .listCheck label{
    line-height: 1.8rem;
    font-size: 2.1rem;
}
.shoppingList .listCheck .radio .littleRedCount{
    width: 1.25rem;
    height: 1.25rem;
}
.shoppingList .listCheck .radio input+.littleRedCount:after{
    top: 2px;
    left: 2px;
    width: .65rem;
    height: .65rem;
}
/*失效字体*/
.shoppingList .loseShopping>div{
    width: 2.8rem;
    line-height: 1.25rem;
    top: 4.1rem;
    left: .3rem;
}
/*商品图片*/
.shoppingList .listPic{
    width: 7.05rem;
    height: 7rem;
}
#shoppingCart .shoppingList .listContent{
    margin-left: 1.05rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
}
/*右侧商品操作栏*/
.shoppingList  .listRightThree div:first-child{
    font-size: 1.3rem;
    line-height: 1rem;
}
.shoppingList  .listRightThree div:nth-of-type(2){
    font-size: 1.2rem;
    line-height: .9rem;
    margin-top: .9rem;
}
.shoppingList  .listRightThree .listRightThreeDelt{
    height: 1.7rem;
    margin-top: 1.75rem;
}
/*已售罄的商品样式*/
.shoppingList .loseShopping>div{
    border-radius: 1rem;
    font-size: .9rem;
}
.shoppingList .listContent .shoppingRemarks{
    font-size: .9rem;
    bottom: .8rem;
}

/*底部栏*/
#shoppingCartBottom{
    height: 5.2rem;
}
.shoppingCartBottom_left p{
    margin: 2rem 0 1.9rem 1.15rem;
    font-size: 1.2rem;
}
.shoppingCartBottom_left p span:first-child{
    font-size: 1.5rem;
    line-height: 18px;
}
.shoppingCartBottom_left p span:last-child{
    font-size: .9rem;
    color: #666666;
    margin-left: 1.2rem;
}
.shoppingCartBottom_right button{
    font-size: 1.5rem
}
/*底部运费说明*/
.shoppingCartBottom_left p span:last-child{
    font-size: .9rem;
    color: #666666;
    margin-left: .1rem;
    line-height: .9rem;
}

